:root{
    --primary-color: #FFFFFF;
    --secondary-color: #F5F7DC;
    --alternative-color: silver;

    --success: #0CCE6B; /*#157145*/
    --warning: #F8C537; /*#F56416*/
    --error: #ED254E; /*E3170A*/ /*#EF271B*/

    --light-grey: #312F2F;
    --mid-grey: #22181C; /*#0F110C*/
    --dark-grey: #0C0C0C;
    --dark: #000000;

    --shadow: 0px 2px 6px 0px rgba(32, 30, 30, 0.2);
}
*, *::before, *::after{
    margin: 0;
    padding: 0;
    font-family: Inter;
    font-weight: 500;
    box-sizing: border-box;
}
html, body{
    min-height: 100%;
}

body{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color: #131313;
}

main{
    width: 100%;
    display: flex;
    justify-content: center;
}

/* p,span,b,h1,h2,h3,h4,h5,h6,i{
    white-space: nowrap;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
}
b{
    font-weight: 600;
} */
