:root{
    --primary-color: #FFFFFF;
    --secondary-color: #F5F7DC;
    --alternative-color: silver;

    --success: #0CCE6B; /*#157145*/
    --warning: #F8C537; /*#F56416*/
    --error: #ED254E; /*E3170A*/ /*#EF271B*/

    --light-grey: #312F2F;
    --mid-grey: #22181C; /*#0F110C*/
    --dark-grey: #0C0C0C;
    --dark: #000000;

    --shadow: 0px 2px 6px 0px rgba(32, 30, 30, 0.2);
}
*, *::before, *::after{
    margin: 0;
    padding: 0;
    font-family: Inter;
    font-weight: 500;
    box-sizing: border-box;
}
html, body{
    min-height: 100%;
}

body{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color: #131313;
}

main{
    width: 100%;
    display: flex;
    justify-content: center;
}

p,span,b,h1,h2,h3,h4,h5,h6,i{
    white-space: nowrap;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
}
b{
    font-weight: 600;
}

main>section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 2rem;
}

main>section>article{
    /* border: 1px solid var(--secondary-color); */
    /* width: 50rem;
    max-width: 100%; */
    width: clamp(80%, 90%, 90%);
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 16px;
    background-color: #1c1b1b;
    box-shadow: var(--shadow);
    animation: slideUp 1s ease-in-out;
    min-width: 0;
    overflow: hidden;
}
main>section>article>header>h2{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

main>section>article>*{
    align-self: stretch;
}
p,span,b,h1,h2,h3,h4,h5,h6,i{
    white-space: nowrap;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
}
b{
    font-weight: 600;
}
main>section>article>.card>div> p, span {
    align-self: stretch;
    min-width: 0;
}

main>section>article:hover{
    transition: 0.3s ease-in-out;
    box-shadow: 0px 2px 6px 0px rgba(32, 30, 30, 0.486);
    /* transform: translateY(-5px); */
}

main>section>article>.card{
    width: 100%;
    align-self: center;
    padding: 2rem 0;
    margin: 1rem 0;
    border-radius: 8px;
    background-color: rgb(249, 249, 249);
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    white-space: nowrap;
}
@keyframes slideUp{
    0%{
        /* opacity: 0; */
        transform: translateY(30px); 
    }
    100%{
        /* opacity: 1; */
        transform: translateY(0); 
    }
}
button{
    cursor: pointer;
    padding: 15px 1em;
}
ul, li{
    padding: 0;
    width: 100%;
    text-decoration: none;
    list-style: none;
    white-space: nowrap;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card{
    background-color: var(--light-grey);
}